{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block main %}
<h1 class="page-header light-logo">Welcome</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <label for="username">Username: </label>
        <input class="form-input" id="username" name="username" type="text" required>
    </div>
    <div class="row">
        <label for="password">Password: </label>
        <input class="form-input" id="password" name="password" type="password" required>
    </div>
    <div class="row">
        <button type="submit" class="btn submit-btn light-btn">Login</button>
    </div>
    <div class="row">
        <a id="forgot-password" href="#">Forgot Password</a>
    </div>
</form>
{% endblock %}