{% extends 'inv_manage/main.html' %}
{% load static %}
{% block main_class %}form-main{% endblock %}

{% block main %}
<div class="modal-cont hide hidden">
    <div id="new-type-modal" class="modal hide">
        <h2 class="dark-logo">Add a Type</h2>
        <div class="input-cont">
            <label for="new-type-input">Name:</label>
            <input type="text" class="form-input" name="new-type-input" id="new-type-input" required>
        </div>
        <button class="submit-btn btn" id="#submit-type">Add</button>
        <button class="close-parent close-modal">X</button>
    </div>
</div>
<h1 class="page-header dark-logo">Add Item</h1>
<form class="grid-form" action="{% url 'inv_manage:add_item' %}" method="POST">
    {% csrf_token %}
    <div class="form-left">
        <div class="input-cont">
            <label for="name">Name: </label>
            <input class="form-input" type="text" name="name" id="name" required>
        </div>
        <div class="input-cont" id="type-input-cont">
            <label id='form-type' for="type_id">Type: </label>
            <select id="type_id" name="type_id">
                {% for type in types %}
                <option value='{{ type.id }}'>{{type.name}}</option>
                {% endfor %}
            </select>
            <button id="add-type" type="button">+</button>
        </div>
        <div class="input-cont">
            <label for="quantity">Quantity: </label>
            <input class="form-input" type="number" min="0" name="quantity" id="quantity" required>
        </div>
        <div class="input-cont">
            <label for="description">Description: </label>
            <textarea class="form-input" name="description" id="description"></textarea>
        </div>
    </div>
    <div class="form-left-controls">
        <button id='add-item-submit-btn' class="submit-btn btn" type="submit">Submit</button>
    </div>
</form>
{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/addType.js' %}"></script>
{% endblock %}