{% extends 'inv_manage/main.html' %}

{% block main %}
<form action="" method="POST">
    {% csrf_token %}
    <div id='orderitem'>
        <select class="form-input" name='attname' required>
            {% for item in items %}
            {{item.item_id.name}}
            <option value='{{ item.id }}'>{{item.item_id.name}}</option>
            {% endfor %}
        </select>    
        <label for='quantity'>Quantity</label>
        <input class="form-input" type='number' name='quantity' id='quantity' min='0' value='{{ order.quantity }}' required>   
        <label for='cost'>Cost</label>
        <input class="form-input" type='number' name='cost' id='cost' min='0' step=".01" value='{{ order.total_amount }}'required>    
    </div>
    <button class="submit-btn" type="submit" id='submit-btn'>Submit</button>
</form>
{% endblock %}