{% extends 'inv_manage/main.html' %}

{% block main %}
<form action="" method="POST">
    {% csrf_token %}
    {% for order in orders %}
    <div id='orderitem'>
        <select class="form-input" name='attname{{ forloop.counter0 }}' required>
            {% for item in items %}
            {{item.item_id.name}}
            {% if order.item_id.id == item.id %}
            <option value='{{ item.id }}' selected>{{item.item_id.name}}</option>
            {% else %}
            <option value='{{ item.id }}' >{{item.item_id.name}}</option>
            {% endif %}
            {% endfor %}
        </select>    
 
        <label for='quantity'>Quantity</label>
        <input class="form-input" type='number' name='quantity{{ forloop.counter0 }}' id='quantity' min='0' value='{{ order.quantity }}' required>   
        <label for='cost'>Cost</label>
        <input class="form-input" type='number' name='cost{{ forloop.counter0 }}' id='cost' min='0' step=".01" value='{{ order.total_amount }}'required> 
    </div>
    {% endfor %}
    <button class="submit-btn" type="submit" id='submit-btn'>Submit</button>
</form>
{% endblock %}