{% extends 'inv_manage/main.html' %}
{% block main_class %}form-main{% endblock %}
{% load static %}
{% block main %}


<form action="" method="POST">
    {% csrf_token %}
    <div id='orderitem'>
        <select class="form-input" id="attname" name='attname' required>
            {% for item in items %}
            {{item.item_id.name}}
            <option class="itemNames" value='{{ item.id }}'>{{item.item_id.name}}</option>
            {% endfor %}
        </select>    
        <label for='quantity'>Quantity</label>
        <input class="form-input" type='number' name='quantity' id='quantity' min='0' required>   
        <label for='cost'>Cost</label>
        <input class="form-input" type='number' name='cost' id='cost' min='0' step=".01" required>    
        <button class="submit-btn" type="button" id="add-btn">Add Item</button>
        <button class="submit-btn" type="button" id='update-btn' >Update Item</button>
        <button class="submit-btn" type="button" id='rmv-btn' >Remove Item</button>
        
    </div>
    
    <select id='orderlist' name='orderlist' multiple required>
        {% for order in orders%}
        <option value="{{order.id}},{{order.item_id.id}},{{order.quantity}},{{order.total_amount}},0">{{order.item_id.item_id.name}}</option>
        {% endfor %}
    </select>
    
    <button class="submit-btn" type="submit" onclick="return selectItems()" id='submit-btn'>Submit</button>
</form>

{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/editItems.js' %}"></script>
{% endblock %}