{% extends "base.html" %}

{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block main %}
<h2 class="page-header light-logo">Forgot Password?</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <label for="emailaddress">Email: </label>
        <input class="form-input" id="emailaddress" name="emailaddress" type="email" required>
    </div>
    <div class="row">
        <button type="submit" class="btn submit-btn light-btn">Send Code</button>
    </div>
</form>
{% endblock %}