{% extends 'inv_manage/main.html' %}

{% load static %}

{% block main_class %}table-main{% endblock %}

{% block main %}
<h1 class="page-header dark-logo">Welcome Back!</h1>
{% if low_inventory %}
<script>
    let table_items = {{ json_items|safe }};
</script>
<div class="table-cont">
    <caption class='caption'>You are currently low on the following items:</caption>
    <table class="red-table" id="data-table">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th class="quantity-column">Quantity</th>
        </tr>
        <tr v-for="item in items">
            <td>[[item.name]]</td>
            <td>[[item.type]]</td>
            <td>[[item.description]]</td>
            <td class="center">[[item.quantity]]</td>
        </tr>
    </table>
</div>
<div class="center-pagination">
    <button href="#" type="button" class='pagination left-table-page'>&laquo;</button>
    <span class='pagination table-page-number'>1</span>
    <button href="#" type="button" class='pagination right-table-page'>&raquo;</button>
</div>
{% endif %}
{% if recent_purchases %}
<div class="recent-purchases">
    <caption class='caption'>Recent Purchases</caption>
    <table  id="data-table2">
        <tr>
            <th>Date</th>
            <th>Cost</th>
        </tr>
        {% for purchase in recent_purchases %}
        <tr>
            <td>{{purchase.purchase_date}}</td>
            <td>{{purchase.total_amount}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/colResizable.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}
