{% extends 'inv_manage/main.html' %}

{% load static %}

{% block main_class %}table-main{% endblock %}

{% block main %}
<script>
    let table_items = {{ json_items|safe }};
</script>
<h1 class="page-header dark-logo">Welcome Back!</h1>
<div class="table-cont">
    <caption class='caption'>You are currently low on the following items.</caption>
    <table id="data-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th class="quantity-column">Quantity</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.item_id.name}}</td>
            <td>{{item.item_id.description}}</td>
            <td>{{item.item_id.type_id.name}}</td>
            <td class="center">{{item.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="table-controls">
    <caption class='caption'>Recent Purchases</caption>
    <table  id="data-table2">
        <tr>
            <th>Date</th>
            <th>Cost</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.item_id.name}}</td>
            <td>{{item.item_id.price}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/colResizable.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}
