{% extends 'inv_manage/home.html' %}

{% load static %}

{% block main %}

<h1 class="page-header">Inventory</h1>
<a href="{% url 'inv_manage:add_item' %}">add an item</a>

<table id="data-table">
    <tr>
            <th class='check-column'><input type="checkbox" name="{{item.id}}" value="{{item.id}}"></th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th class="quantity-column">quantity</th>
            <th class='add-column'>+</th>
            <th class='edit-column'>Edit</th>
            <th class="delete-column">X</th>
    </tr>
    <form>
    {% for item in items %}
    
        
            <tr>
                
                <td class="center"><input type="checkbox" name="{{item.id}}" value="{{item.id}}"></td>
                <td>{{item.item_id.name}}</td>
                <td>{{item.item_id.description}}</td>
                <td>{{item.item_id.type_id.name}}</td>
                <td class="center">{{item.quantity}}</td>
                <td></td>
                <td><a href="{% url 'inv_manage:edititem' item.id %}">x</a></td>
                <td></td>
            </tr>
            
        
    
    {% endfor %}
    </form>
</table>
{% endblock %}
{% block add_scripts %}
    <script src="{% static 'js/colResizable.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}