{% extends 'inv_manage/main.html' %}

{% load static %}

{% block main %}
<script>
    let table_items = {{ json_items|safe }};
</script>

<h1 class="page-header dark-logo">Inventory</h1>

<div class="table-cont">
    {% csrf_token %}
    <table id="data-table">
        <tr>
            <th class='check-column'><input type="checkbox" name="{{item.id}}" value="{{item.id}}"></th>
            <th class="num-column">#</th>
            <th class="sort-column" sort-name="name">Name</th>
            <th class="sort-column" sort-name="description">Description</th>
            <th class="sort-column" sort-name="type">Type</th>
            <th class="quantity-column sort-column" sort-name="quantity">Quantity</th>
            <th class='edit-column'>Edit</th>
            <th class="delete-column">X</th>
        </tr>
        <tr v-for="item in items">
            <td class="center"><input type="checkbox" name="checkbox" v-bind:value="item.id"></td>
            <td class="center">[[item.number]]</td>
            <td>[[item.name]]</td>
            <td>[[item.description]]</td>
            <td>[[item.type]]</td>
            <td class="center">[[item.quantity]]</td>
            <td><a v-bind:href="item.edit_url">x</a></td>
            <td class="delete-column"></td>
        </tr> 
        {% endif %}
    </table>
</div>
<div class="center-pagination">
    <button href="#" type="button" class='pagination left-table-page'>&laquo;</button>
    <span class='pagination table-page-number'>1</span>
    <button href="#" type="button" class='pagination right-table-page'>&raquo;</button>
</div>
<div class="table-controls">    
    <a href="{% url 'inv_manage:add_item' %}">add an item</a>
    <button id="delete-selected" type="button" class='submit-btn'>Delete Selected</button>  
</div> 
{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/colResizable.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/deleteItems.js' %}"></script>
{% endblock %}