{% extends 'inv_manage/main.html' %}

{% load static %}

{% block main %}
<script>
    let table_items = {{ json_items|safe }};
</script>

<h1 class="page-header dark-logo">Inventory</h1>
<a href="{% url 'inv_manage:add_item' %}">add an item</a>
<form action="" method="POST">
    {% csrf_token %}
    <table id="data-table">
        <tr>
            <th class='check-column'><input type="checkbox" name="{{item.id}}" value="{{item.id}}"></th>
            <th scope="col"><a class="sort-column" sort-name="name">Name</a></th>
            <th scope="col"><a class="sort-column" sort-name="description">Description</a></th>
            <th scope="col"><a class="sort-column" sort-name="type">Type</a></th>
            <th scope="col"><a class="quantity-column sort-column" sort-name="quantity">Quantity</a></th>
            <th class='add-column'>+</th>
            <th class='edit-column'>Edit</th>
            <th class="delete-column">X</th>
        </tr>
        {% if items|length > 0 %}
        <tr v-for="item in items">
            <td class="center"><input type="checkbox" name="checkbox" v-bind:value="item.id"></td>
            <td>[[item.name]]</td>
            <td>[[item.description]]</td>
            <td>[[item.type]]</td>
            <td class="center">[[item.quantity]]</td>
            <td></td>
            <td><a v-bind:href="item.edit_url">x</a></td>
            <td></td>
        </tr> 
        {% endif %}
    </table>
    <div class="center-pagination">
        <div class="pagination">
            <button href="#" type="button" class='left-table-page'>&laquo;</button>
        </div>
        <div class="pagination-page-number">
            <button href="#" class='table-page-number'>1</button>
        </div>
        <div class="pagination">
            <button href="#" type="button" class='right-table-page'>&raquo;</button>
        </div>
        <div class="pagination">    
            <button id="delete-selected" type="submit" class='submit-btn'>Delete Selected</button>  
        </div> 
    </div>
</form>
{% endblock %}
{% block after_scripts %}
    <script src="{% static 'js/colResizable.min.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}