{% extends 'inv_manage/home.html' %}

{% block main %}
<h2>Enter order info here.</h2>

<h2>View past orders here.</h2>
<table>
    <tr>
        <td>Item Name</td>
        <td>Purchase Date</td>
        <td>Quantity</td>
        <td>Price of Purchase</td>
    </tr>
{% for order in orders %}
    <tr>
        <td> {{ order.item_id.item_id.name }}</td>
        <td>{{ order.purchase_id.purchase_date }}</td>
        <td>{{ order.quantity }}</td>
        <td>{{ order.total_amount }}</td>
    </tr>
{% endfor %}
</table>

<form action="" method="POST">
    {% csrf_token %}
    <div id='orderitem'>
        <select class="form-input" name='attname' required>
            {% for attribute in attributes %}
            {{attribute.name}}
            <option value='{{ forloop.counter0 }}'>{{attribute.name}}</option>
            {% endfor %}
        </select>    
        <label for='quantity'>Quantity</label>
        <input class="form-input" type='number' name='quantity' id='quantity' min='0' required>   
        <label for='cost'>Cost</label>
        <input class="form-input" type='number' name='cost' id='cost' min='0' required>    
    </div>
    <button class="submit-btn" type="submit" id='submit-btn'>Submit</button>
</form>
{% endblock %}