{% extends 'inv_manage/main.html' %}

{% load static %}

{% block main_class %}table-main{% endblock %}

{% block main %}
<script>
    let table_items = {{ json_items|safe }};
</script>

<h1 class="page-header dark-logo">Previous Orders</h1>
<div class="table-cont">
    {% csrf_token %}
    <table id="data-table">
        <tr>
            <th class='check-column hidden'><input id="check-all" type="checkbox"></th>
            <th class="num-column">#</th>
            <th class="sort-column" sort-name="date">Purchase Date</th>
            <th class="sort-column" sort-name="quantity">Number of Items</th>
            <th class="sort-column" sort-name="total">Price of Purchase</th>
            <th class="edit-column">View</th>
            <th class="delete-column">X</th>
        </tr>
        <tr v-for="item in items">
            <td class="hidden center"><input type="checkbox" name="checkbox" v-bind:value="item.id"></td>
            <td class="center">[[ item.number ]]</td>
            <td class="center">[[ item.date ]]</td>
            <td class="center">[[ item.num_items ]]</td>
            <td class="center">[[ item.total ]]</td>
            <td class="center"><a v-bind:href="item.edit_url"><img class="icon" src="{% static 'images/view.png' %}"></a></td>
            <td class="delete-column single-delete center"><img class="icon" src="{% static 'images/delete.png' %}"></td>
        </tr>
    </table>
</div>
<div class="center-pagination">
    <button href="#" type="button" class='pagination left-table-page'>&laquo;</button>
    <span class='pagination table-page-number'>1</span>
    <button href="#" type="button" class='pagination right-table-page'>&raquo;</button>
</div>
<div id='neworder' class="table-controls">
    <div class="table-buttons">
        <a class="btn wide-btn" draggable='false' href="{% url 'inv_manage:neworder' %}">New Order</a>
    </div>
</div>
{% endblock %}

{% block after_scripts %}
<script src="{% static 'js/colResizable.min.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/deleteItems.js' %}"></script>
{% endblock %}