{% extends "base.html" %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block main %}
<h2 class="page-header light-logo">Reset Password</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row" style="width: 280px;">
        <label style="width: 120px;" for="password">New Password: </label>
        <input class="form-input" id="password" name="password" type="password" required>
    </div>
    <div class="row">
        <button type="submit" class="btn submit-btn light-btn">Submit</button>
    </div>
</form>
{% endblock %}