$input-width: 150px;
$label-width: 80px;

.main-cont{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 80%;
    margin: auto;

    label{
        text-align: left;
        display: inline-block;
        width: $label-width;
    }

    .form-input{
        width: $input-width;
    }
    
    #login-btn{
        background: lightskyblue;
        width: calc(#{$input-width} + #{$label-width} + 10px);
        border: black solid 1px;
        border-radius: 4px;
        padding: 2px 0;
        margin: 4px 0;
    }
}

