$navbar-height: 60px;
$footer-height: 40px;

$primary: #08458c;
$yellow: yellow;
$white: white;
$light-yellow: #fafcb5;
$light-blue: #08458c;

.top-nav{
    a{
    position: relative;
    text-decoration: none;
    transition: all ease-in-out .25s;
    width: 0;
    border: none;
    text-shadow: 1px 0 $yellow, 0 1px $yellow, -1px 0 $yellow, 0 -1px $yellow;
    color: $primary;
    padding: 8px 12px;
    &.active{
        &:before{
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: $white;
        visibility: visible;
        border-radius: 5px;
        transform: scaleX(1);
        }
    }
    > span{
        padding: 0;
        transition: .25s;
        font-size: 1.1em;
    }
    &:focus{
        color: black;
        background-color: $yellow;
        //text-decoration: underline;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: $yellow;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transition: .10s linear;
      }
      &:hover:before, &:focus:before{
        visibility: visible;
        transform: scaleX(1);
      }
      &:after {
        width: 100%;
        right: calc(50%);
        //width: 50%;
      }
}
}
.main-cont > *{
    margin: 0 auto;
    width: 800px;
}

.top-nav{
    padding: 0 50px;
    display: flex;
    height: $navbar-height;
    width: 100%;
    background: $light-blue;
    border-bottom: 1px $primary solid;
    align-items: center;
    a{
        font-weight: bold;
    }
    .logout-btn{
        position: absolute;
        right: 50px;
    }
}

.main-cont{
    margin-top: $navbar-height;
    min-height: calc(100vh - (#{$footer-height} + #{$navbar-height}));
}

#data-table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    font-size: .9em;
    border-collapse: collapse;
    color: #f5f89f;
    background-color: #a8dfff;
    
    th :hover {
        background-color: #0c61c2;
        color: #fbff00;
    }
    
    tr{
        max-height: 29px;
        overflow: hidden;
    }

    td, th{
        overflow: hidden;
        max-height: 29px;
        white-space: nowrap;
    }

    td {
        text-indent: 5px;
        border-right: 1px solid #dddddd;
        text-align: left;
    }
    
    th {
        background-color: #08458c;
        border: 1px solid black;
        color: #f5f89f;
    }
    
    tr:nth-child(even) {
        background-color: #7ec7f1;
        color: #2b2b29;
    }
    tr:nth-child(odd) {
        color: #2b2b29;
    }
    tr > td:last-child, th{
        border-right: none;
    }

    .center, th {
        text-indent: 0;
        text-align: center;
    }

    .delete-column, .edit-column, .add-column, .check-column{
        width: 30px;
        min-width: 30px;
    }
    .quantity-column{
        width: 80px;
    }
}

.table-layout {
    width: 150%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  
  .table1 {
    -webkit-box-flex: 12;
        -ms-flex: 12;
            flex: 12;
    margin-right: 75px;
  }
  
  .table2 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-left: 75px;
    margin-top: 75px;
  }
  
  .table-header {
    margin-left: 100px;
  }
  
.caption {
    color: black;
}


  th a.sort-column { 
      padding-right: 75px;
      position: relative;
  }
  a.sort-column:before,
  a.sort-column:after {
      border: 4px solid transparent;
      content: "";
      display: block;
      height: 0;
      right: 5px;
      top: 50%;
      position: absolute;
      width: 0;
  }
  a.sort-column:before {
      border-bottom-color: rgb(247, 224, 96);
      margin-top: -9px;
  }
  a.sort-column:after {
      border-top-color: rgb(247, 224, 96);
      margin-top: 1px;
  }
  
  
  #delete-selected {
    margin-left: 595px;
    margin-top: 270px;
    color: #fafcb5;
  
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination button {
    color: black;
    float: left;
    padding: 4px 6px;
    text-decoration: none;
    border: 1px solid #7c98b6;
    margin: 2px;
    background-color: #08458c;
    color: #fafcb5;
  }
  
  .pagination button.active {
    background-color: #08458c;
    color: white;
    border: 1px solid #08458c;
  }
  
  .pagination button:hover:not(.active) {background-color: #7ec7f1;}
  
  .pagination button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pagination-page-number {
    display: inline-block;
  }
  
  .pagination-page-number button {
    color: rgb(250, 235, 33);
    float: left;
    padding: 4px 6px;
    text-decoration: none;
    border: 1px solid #7c98b6;
    margin: 2px;
    background-color: #08458c;
  }
  
  .pagination-page-number button.active {
    background-color: #08458c;
    color: white;
    border: 1px solid #08458c;
  }
  
  .pagination-page-number button:hover:not(.active) {background-color: #08458c;}
  
  .pagination-page-number button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination-page-number button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }  
  
.center-pagination {
    margin-left: 350px;
}

@media only screen and (max-width: 960px){
    .main-cont > *{
        margin: 0 auto;
        width: 600px;
    }
}

@media only screen and (max-width: 760px){
    .main-cont > *{
        margin: 0 auto;
        width: 400px;
    }
}

@media only screen and (max-width: 440px){
    .top-nav{
        padding: 0;
        justify-content: center;
        a{
            padding-left: 6px;
            padding-right: 6px;
            > span{
                font-size: 1em;
            }
        }

        .logout-btn{
            position: relative;
            right: 0;
        }
    }
    .main-cont{
        .page-header{
            text-align: center;
            font-size: 3em;
        }

        & > *{
            margin: 0 auto;
            width: 100%;
        }
    }
    #data-table{
        font-size: .8em;
    }
}
